<?xml version="1.0" encoding="UTF-8"?>
<Plugins>
		<Plugin_Class name="com.digitalsky.usercenter.UserCenterPlugin" channel="usercenter"/>
		<Plugin_Class name="com.digitalsky.alipay.AlipayPlugin" channel="11"/>
		<Plugin_Class name="com.digitalsky.payeco.PayecoPlugin" channel="15"/>
		<Plugin_Class name="com.digitalsky.talkingdata.TDPlugin" channel="talkingdata"/>
</Plugins>